body {
  margin: 0;
}

h1 {
  text-align: center;
}

.menu {
  position: fixed;
  top: 60px;
  right: 30px;
}

#home, #about, #contact {
  text-decoration: none;
  color: white;
  font-size: 50px;
}

#vertical {
  writing-mode: vertical-lr;
  direction: ltr;
  text-orientation: sideways-right;
  position: fixed;

}

.mainNav {
  position: fixed;
  /*display: none;*/
  background-color: grey;
  opacity: 0.4;
  height: 70%;
  width: 25%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 60px;
}
