
<div id="page">
    <div class="title">
      <h1> The Coffeebook Chronicles</h1>
<input id="searchInput" name="search" type="text" placeholder="Search Stories">
      <i class="fa fa-search search" aria-hidden="true"></i>
</input>
    <p id="date"> 2016 // October </p>
    </div>
<br>
<br>
<br>
<div class="rowTwo">

   <section class="demo">
    <div class="container">
      <div style="display: inline-block;">
        <img src="https://placeimg.com/400/200/people"/></div>
      <div><img src="https://placeimg.com/400/200/any"/></div>
      <div><img src="https://placeimg.com/400/200/nature"/></div>
      <div><img src="https://placeimg.com/400/200/architecture"/></div>
      <div><img src="https://placeimg.com/400/200/animals"/></div>
      <div><img src="https://placeimg.com/400/200/people"/></div>
      <div><img src="https://placeimg.com/400/200/tech"/></div>
    </div>
  </section>

  <p class="lo">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condt volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>
    <div class="rowThree">
<p class="lorem">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>
    <nav-dir></nav-dir>

</div>
